<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Do Adenilson</h1></a>
        <p>Adenilson-Developer</p>
        <img src="/avatar.jpg" alt="avatar">
        
    </div>
    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">Sobre</a></li>
        <li><a href="/blogs/create">Novo Blog</a></li>
    </ul>
</nav>