<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
       <h2>Sobre</h2>
       <p>Primeiramente muito obrigado por está aqui...Meu nome é Adenilson, conhecido profissionalmente como Adenilson-Developer...Sou um eterno amante de técnologias. Sou formado em Análise e Desenvolvimento de sistemas, técnico em informática e atualmente
           estou cursando Pós-Graduação, portanto meu principal objetivo é sempre evoluir.
        <p>...{}</p>
       </p>

       <p>Tenho experiência com JavaScript,+{}+ Nodejs,+{}+ Reactjs,+{}+TypeScript,+{}+ Html,+{}+ Css,+{}+ Mongodb,+{}+,MySql, +{}+ Scrum, Certificação em Scrum Foundations Professional Certificate (SFPC). Sempre 
         participo de Bootcamp para adquirir novas habilidades
         e conhecer pessoas que possa compartilhar novos conhecimentos. </p>
         <p>...{}</p>
        <p>Esse Blog é um portal colaborativo que tem como principal objetivo
         a disseminação de conhecimentos relacionados a Tecnologia da Informação, porém podem ficar a vontade para compartilhar
         informações sobre outros assuntos.
         </p>

       
    </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>